.yarl {
    justify-self: center;
}

.login-row {
    margin-top: 50vh;
    transform:translateY(-50%);
}

.landing-title-container {
    text-align: center;
    padding: 20% 0px 20px 0px;
}

.landing-title {
    font-weight: lighter;
    font-size: 60px;
}

.forgot-password-container {
    display: flex;
    justify-content: center;
    padding-top: 2%;
}

.create-account-container {
    display: flex;
    justify-content: center;
    padding-top: 2%;
}